<a class="brand-link" asp-controller="Schedule" asp-action="Index">
    <img src="~/img/logo-plain.svg" alt="Logo" class="brand-image svg-elevation-3">
    <img src="~/img/logo.svg" alt="Logo" class="brand-image svg-elevation-3">
    <span class="brand-text">Pogoshift</span>
</a>
