@using Abp.Authorization.Users
@model pogoshift.Web.Models.Availability.AvailabilityViewModel
@using pogoshift.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Availability;
    ViewBag.Title = L("Availability");
    var user = Model.LoginInformations.User;
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section styles {
    <link href="~/css/calendar.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <environment names="Development">
        <script type="module" src="~/view-resources/Views/Availability/Availability.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script type="module" src="~/view-resources/Views/Availability/Availability.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("Availability")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="clearfix">
            <div id="availability-calendar"></div>
        </div>
    </div>
</section>
